<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="C:\Users\Олег\AppData\Local\Temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="AllFile" fileName="Logs\All\${date:format=yyyy-MM-dd}.log" layout="${longdate} ${level:uppercase=true} ${callsite:methodName=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}: ${message}" />
    <target xsi:type="File" name="InfoFile" fileName="Logs\Info\${date:format=yyyy-MM-dd}.log" layout="${longdate} ${level:uppercase=true} ${callsite:methodName=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}: ${message}" />
    <target xsi:type="ColoredConsole" name="Console" layout="${date:format=HH\:mm\:ss} ${callsite:includeNamespace=false:methodName=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AllFile" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>